.nav {
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: #f3f3f3;
}

.nav-logo {
  width: 30px;
  height: auto;
}

a {
  text-decoration: none;
  color: #2c3e50;
}

a.active {
  font-weight: bold;
  color: #007acc;
}

.container {
  padding: 0 1rem;
}
