<div class="container estilo-general">
  <h1 class="title">Lista de Personajes</h1>
  <hr>
  <p>Esta es una lista de personajes obtenida desde la API de Rick and Morty.</p>

  @defer (on viewport) {
  <app-character-search (resultados)="actualizarTabla($event)"></app-character-search>
  }
  @placeholder {
  <p style="padding: 1rem; font-style: italic;">Cargando buscador...</p>
  }
  <div>
    @defer (on viewport){
    <table class="tabla-minimalista">
      <thead>
        <tr>
          <th>Personaje</th>
          <th>Nombre</th>
          <th>Estado</th>
          <th>Especie</th>
          <th>Género</th>
          <th>Ver más</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let character of characters$ | async">
          <td>
            <div class="avatar-contenedor">
              <img class="avatar" [src]="character.image">
            </div>
          </td>
          <td>{{ character.name }}</td>
          <td>{{ character.status }}</td>
          <td>{{ character.species }}</td>
          <td>{{ character.gender }}</td>
          <td>
            <button class="icono-detalle" [routerLink]="['/characters/', character.id]">
              🔍
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    }@placeholder {
    <p style="padding: 1rem; font-style: italic;">Cargando tabla...</p>
    }
    <div class="paginacion-controles">
      <button (click)="previousPage()" [disabled]="currentPage === 1">⬅️ Anterior</button>
      <span>Página {{ currentPage }}</span>
      <button (click)="nextPage()">➡️ Siguiente</button>
    </div>
  </div>
</div>
