.busqueda-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.busqueda-container form {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.busqueda-container input {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.busqueda-container button {
  padding: 0.5rem 1rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  cursor: pointer;
}
