/* Estilos para el contenedor de la lista de personajes */
.character-card {
  max-width: 700px;
  margin: auto;
  padding: 2rem;
  background-color: #f6f8fa;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.header {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

img {
  width: 150px;
  border-radius: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 0.5rem;
}

ul li button {
  display: block;
  margin: 0 auto;
}
