<div class="container estilo-general">
<div>
  <img
    [src]="logoPath"
    alt="Rick and Morty Logo"
    class="rick-logo"
  />
  <h1 class="title">Rick and Morty</h1>
  <hr>
  <p>
    Rick and Morty es una serie animada para adultos que sigue las aventuras interdimensionales del excéntrico científico Rick Sánchez y su nieto Morty. Juntos exploran universos paralelos, enfrentan criaturas bizarras y desafían las leyes del tiempo y el espacio, todo con un humor ácido y ciencia ficción desquiciada.
  </p>
</div>

</div>
